[google]
domain = yourdomain.com
email = adminuser@yourdomain.com
password = yourpassword

### Set this option to True if using domain aliases ###
replaceDomain = False


[samba]
sambaPrivate = /usr/local/samba/private
sambaPath = DC=YOURDOMAIN,DC=COM
adBase = ou=Domain Users,dc=yourdomain,dc=com

